---
title: Commanders By Color | PDHREC
layout: base.liquid
---
<p>
  <h2>
    Select the color identity for your commander.
  </h2>
</p>
<div>
  <h3>
    Single Color Commanders
  </h3>
</div>

<div
  id="colors"
  class="symbols"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center; padding: 2.5%; width: 99%;">
  <a class="active" href="/colors/white">
    <div class="symbolW"></div>
  </a>
  <a class="active" href="/colors/blue">
    <div class="symbolU"></div>
  </a>
  <a class="active" href="/colors/black">
    <div class="symbolB"></div>
  </a>
  <a class="active" href="/colors/red">
    <div class="symbolR"></div>
  </a>
  <a class="active" href="/colors/green">
    <div class="symbolG"></div>
  </a>
</div>
<div>
  <h3>
    Two Color Commanders
  </h3>
</div>
<div
  id="colors"
  class="symbols"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center; padding: 2.5%; width: 99%;">
  <a class="active guild" href="/colors/azorius">
    <div class="symbolW"></div>
    <div class="symbolU"></div>
  </a>
  <a class="active guild" href="/colors/dimir">
    <div class="symbolU"></div>
    <div class="symbolB"></div>
  </a>
  <a class="active guild" href="/colors/rakdos">
    <div class="symbolB"></div>
    <div class="symbolR"></div>
  </a>
  <a class="active guild" href="/colors/gruul">
    <div class="symbolR"></div>
    <div class="symbolG"></div>
  </a>
  <a class="active guild" href="/colors/selesnya">
    <div class="symbolG"></div>
    <div class="symbolW"></div>
  </a>
  <a class="active guild" href="/colors/orzhov">
    <div class="symbolW"></div>
    <div class="symbolB"></div>
  </a>
  <a class="active guild" href="/colors/golgari">
    <div class="symbolB"></div>
    <div class="symbolG"></div>
  </a>
  <a class="active guild" href="/colors/simic">
    <div class="symbolG"></div>
    <div class="symbolU"></div>
  </a>
  <a class="active guild" href="/colors/izzet">
    <div class="symbolU"></div>
    <div class="symbolR"></div>
  </a>
  <a class="active guild" href="/colors/boros">
    <div class="symbolR"></div>
    <div class="symbolW"></div>
  </a>
</div>
<div>
  <h3>
    Three Color Commanders
  </h3>
</div>
<div
  id="colors"
  class="symbols"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center; padding: 2.5%; width: 99%;">
  <a class="active clan" href="/colors/mardu">
    <div class="symbolR"></div>
    <div class="symbolW"></div>
    <div class="symbolB"></div>
  </a>
  <a class="active clan" href="/colors/abzan">
    <div class="symbolW"></div>
    <div class="symbolB"></div>
    <div class="symbolG"></div>
  </a>
  <a class="active clan" href="/colors/sultai">
    <div class="symbolB"></div>
    <div class="symbolG"></div>
    <div class="symbolU"></div>
  </a>
  <a class="active clan" href="/colors/temur">
    <div class="symbolG"></div>
    <div class="symbolU"></div>
    <div class="symbolR"></div>
  </a>
  <a class="active clan" href="/colors/jeskai">
    <div class="symbolU"></div>
    <div class="symbolR"></div>
    <div class="symbolW"></div>
  </a>
  <a class="active shard" href="/colors/bant">
    <div class="symbolW"></div>
    <div class="symbolU"></div>
    <div class="symbolG"></div>
  </a>
  <a class="active shard" href="/colors/esper">
    <div class="symbolW"></div>
    <div class="symbolU"></div>
    <div class="symbolB"></div>
  </a>
  <a class="active shard" href="/colors/grixis">
    <div class="symbolU"></div>
    <div class="symbolB"></div>
    <div class="symbolR"></div>
  </a>
  <a class="active shard" href="/colors/jund">
    <div class="symbolB"></div>
    <div class="symbolR"></div>
    <div class="symbolG"></div>
  </a>
  <a class="active shard" href="/colors/naya">
    <div class="symbolR"></div>
    <div class="symbolW"></div>
    <div class="symbolG"></div>
  </a>
</div>
<div>
  <h3>
    All or Nothing Commanders
  </h3>
</div>

<div
  id="colors"
  class="symbols"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center; padding: 2.5%; width: 99%;">
  <a class="active" href="/colors/colorless">
    <div class="symbolC"></div>
  </a>
  <a
    class="active"
    href="/colors/WUBRG"
    style="display: flex; flex-flow: row; width: 80%;">
    <div class="wrapper">
      <div class="symbolW"></div>
    </div>
    <div class="wrapper">
      <div class="symbolU"></div>
    </div>
    <div class="wrapper">
      <div class="symbolB"></div>
    </div>
    <div class="wrapper">
      <div class="symbolR"></div>
    </div>
    <div class="wrapper">
      <div class="symbolG"></div>
    </div>
  </a>
</div>