---
title: Commanders By Color | PDHREC
layout: base.liquid
---
<p>
  <h2>
    Select the color identity for your commander.
  </h2>
</p>
<div>
  <h3>
    Single Color and Colorless Commanders
  </h3>
</div>

<div
  id="colors"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center; padding: 2.5%; width: 99%;">
  <div class="symbols" style="justify-content: center; padding: 2.5%; width: 99%;">
    <h4>White</h4>
    <a class="active" href="/colors/white">
      <div class="symbolW"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5%; width: 99%;">
    <h4>Blue</h4>
    <a class="active" href="/colors/blue">
      <div class="symbolU"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5%; width: 99%;">
    <h4>Black</h4>
    <a class="active" href="/colors/black">
      <div class="symbolB"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5%; width: 99%;">
    <h4>Red</h4>
    <a class="active" href="/colors/red">
      <div class="symbolR"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5%; width: 99%;">
    <h4>Green</h4>
    <a class="active" href="/colors/green">
      <div class="symbolG"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5%; width: 99%;">
    <h4>Colorless</h4>
    <a class="active" href="/colors/colorless">
      <div class="symbolC"></div>
    </a>
  </div>
</div>

<div>
  <h3>
    Two Color Commanders
  </h3>
</div>

<div
  id="colors"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center;
  padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Azorius</h4>
    <a class="active" href="/colors/azorius">
      <div class="symbolW"></div>
      <div class="symbolU"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Dimir</h4>
    <a class="active" href="/colors/dimir">
      <div class="symbolU"></div>
      <div class="symbolB"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Rakdos</h4>
    <a class="active" href="/colors/rakdos">
      <div class="symbolB"></div>
      <div class="symbolR"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Gruul</h4>
    <a class="active" href="/colors/Gruul">
      <div class="symbolR"></div>
      <div class="symbolG"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Selesnya</h4>
    <a class="active" href="/colors/selesnya">
      <div class="symbolG"></div>
      <div class="symbolW"></div>
    </a>
  </div>
</div>
<div
  id="colors"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center;
  padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Orzhov</h4>
    <a class="active" href="/colors/orzhov">
      <div class="symbolW"></div>
      <div class="symbolB"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Golgari</h4>
    <a class="active" href="/colors/golgari">
      <div class="symbolB"></div>
      <div class="symbolG"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Simic</h4>
    <a class="active" href="/colors/simic">
      <div class="symbolG"></div>
      <div class="symbolU"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Izzet</h4>
    <a class="active" href="/colors/izzet">
      <div class="symbolU"></div>
      <div class="symbolR"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Boros</h4>
    <a class="active" href="/colors/boros">
      <div class="symbolR"></div>
      <div class="symbolW"></div>
    </a>
  </div>
</div>

<div>
  <h3>
    Three Color Commanders
  </h3>
</div>

<div
  id="colors"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center;
  padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Mardu</h4>
    <a class="active clan" href="/colors/mardu">
      <div class="symbolR"></div>
      <div class="symbolW"></div>
      <div class="symbolB"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Abzan</h4>
    <a class="active clan" href="/colors/abzan">
      <div class="symbolW"></div>
      <div class="symbolB"></div>
      <div class="symbolG"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Sultai</h4>
    <a class="active clan" href="/colors/sultai">
      <div class="symbolB"></div>
      <div class="symbolG"></div>
      <div class="symbolU"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Temur</h4>
    <a class="active clan" href="/colors/temur">
      <div class="symbolG"></div>
      <div class="symbolU"></div>
      <div class="symbolR"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
    <h4>Jeskai</h4>
    <a class="active clan" href="/colors/jeskai">
      <div class="symbolU"></div>
      <div class="symbolR"></div>
      <div class="symbolW"></div>
    </a>
  </div>
</div>
<div
  id="colors"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center;
  padding: 2.5% 2.5% 0.5% 2.5%; width: 99%;">
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Bant</h4>
    <a class="active shard" href="/colors/bant">
      <div class="symbolG"></div>
      <div class="symbolW"></div>
      <div class="symbolU"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Esper</h4>
    <a class="active shard" href="/colors/esper">
      <div class="symbolW"></div>
      <div class="symbolU"></div>
      <div class="symbolB"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Grixis</h4>
    <a class="active shard" href="/colors/grixis">
      <div class="symbolU"></div>
      <div class="symbolB"></div>
      <div class="symbolR"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Jund</h4>
    <a class="active shard" href="/colors/jund">
      <div class="symbolB"></div>
      <div class="symbolR"></div>
      <div class="symbolG"></div>
    </a>
  </div>
  <div class="symbols" style="justify-content: center; padding: 0.5% 2.5% 2.5% 2.5%; width: 99%;">
    <h4>Naya</h4>
    <a class="active shard" href="/colors/naya">
      <div class="symbolR"></div>
      <div class="symbolG"></div>
      <div class="symbolW"></div>
    </a>
  </div>
</div>

<div>
  <h3 style="padding-bottom: 2.5%">
    There are currently no 4-color PDH commanders
  </h3>
</div>

<div>
  <h3>
    All Color Commanders
  </h3>
</div>

<div
  id="colors"
  class="symbols"
  style="max-width: 600px; display: flex; flex-flow: row; justify-content: center; padding: 2.5%; width: 99%;">
  <a
    class="active"
    href="/colors/wubrg"
    style="display: flex; flex-flow: row; width: 80%;">
    <div class="wrapper">
      <div class="symbolW"></div>
    </div>
    <div class="wrapper">
      <div class="symbolU"></div>
    </div>
    <div class="wrapper">
      <div class="symbolB"></div>
    </div>
    <div class="wrapper">
      <div class="symbolR"></div>
    </div>
    <div class="wrapper">
      <div class="symbolG"></div>
    </div>
  </a>
</div>