---
  layout: base.liquid
  title: About
---


{%- comment -%}
  <div id="about" class="main" style="">
{%- endcomment -%}
<p>
  <h2>About PDHREC</h2>
</p>
<p>Inspired by
  <a target="_blank" href="https://edhrec.com">EDHREC</a>, the Commander website,
  PDHREC is an attempt to do similar things for Pauper Commander.
</p>
<p>PDHREC collects data from publicly available decks on deck building websites, and performs aggregations on
  the data.
</p>
<p>
  The synergy score for a card is a measure of how popular a card is in this particular deck, versus in other
  decks. It's calculated for each card per commander by first calculating the percentage of decks with the
                                  commander it is in, and then subtracting the percentage of decks it is in on average. A score of -100% synergy
                                  means every deck runs it, except for decks with your commander. A score of +100% synergy is highly unlikely,
                                  but means that every single deck with this commander runs it, and no others decks do.</p>
{%- comment -%}
  </div>
{%- endcomment -%}