---
title: Commanders | PDHREC
layout: base
pagination:
  data: commanders
  size: 24
---
<div id="gallery" class="gallery">
  {% for commanderdata in pagination.items %}
    {% include 'components/commander_image.liquid', commander: commanderdata %}
  {% endfor %}
  <div class="pagination">
    {%- for href in pagination.hrefs %}
      {% if href != pagination.href.last %}
        <a href="{{ href }}" {% if page.url==href %} class="active"{% endif %}>
          {{forloop.index}}
        </a>
      {% endif %}
    {%- endfor %}
    <a href="{{pagination.href.last}}" {% if page.url==pagination.href.last %} class="active"
      {% endif %}>{{pagination.hrefs.length}}
    </a>
  </div>
</div>