<script src="/js/nav.js"></script>
<div id="navbar">
  <div id="navbar-control">
    <a title="PDHREC" href="/" class="header-home first-home">
      <h1 class="header-home-h1">PDHREC</h1>
    </a>
    <a title="PDHREC" href="/" class="header-home second-home">
      <div class="header-home-h3">
        <h3>
          PDH
        </h3>
        <h3>
          REC
        </h3>
      </div>
    </a>
    <form class="nav-search">
      <div class="autocomplete">
        <input type="text" name="q" id="nav-search-field" autocomplete="off" placeholder="Search for cards...">
      </div>
    </form>
    <div class="nav-links">
      <a href="/" class="nav-link">Commanders</a>
      <a href="/staples" class="nav-link">Staples</a>
      <a href="/about" class="nav-link">About</a>
    </div>
    <a class="nav-link nav-menu-button">
      Menu
    </a>
  </div>
  <div class="mobile-nav">
    <div class="nav-links-mobile">
      <a href="/" class="nav-link-mobile">Commanders</a>
      <a href="/staples" class="nav-link-mobile">Staples</a>
      <a href="#about" class="nav-link-mobile">About</a>
    </div>
  </div>
</div>